---
import Container from "@components/Container.astro"
import { SITE } from "@consts"
import Image from "astro/components/Image.astro"
---

<footer class="relative bg-white dark:bg-black">
  <div class="animate">
    <section class=" py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25">
      <Container size="md">
        <div class="flex justify-between">
          <div class="flex flex-col items-center sm:items-start">
            <a href="/" class="flex items-center gap-1 w-fit font-semibold text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              <Image alt='Logo' src="/gaft.webp" width={36} height={36} />
              
              {SITE.TITLE}
            </a>
          </div>
          <div class="text-sm mt-2">
            &copy; {new Date().getFullYear()} | All rights reserved
          </div>
        </div>
      </Container>
    </section>
  </div>

</footer>

